body {
  color: #8d939c;
  background: #2b343d;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  margin: 0;
  padding: 0;

}

a {
  color: #00bcef;
}

.homebutton {
  background-color: #474953;
  border-style: none;
  color: #00bcef;
  font-size: 1.2em;
  cursor: pointer;
}

.balancebutton {
    background-color: transparent;
    color: #8d939c;
  //border: 1px solid #cccccc;
  border: none;
  height: 100%;
    padding: 1vh;
  font-size: 1em;
  cursor: pointer;
}
.balancebutton:hover {
  color: white;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #474953;
  width: 100%;
}
.navbar > div {
  text-align: center;
  //background-color: DodgerBlue;
  //color: #8d939c;
    margin: 1px;

  //line-height: 25px;
  font-size: 1.2em;
}


.navbarlogo {
vertical-align:middle; 
padding:4px;
}


.aboutbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: yellow;
  width: 100%;
  margin: 20px;
}
.aboutbox > div {
 //background-color: DarkBlue;
  padding: 0.1em;
 font-size: 1.1em;
}

.partyimg {
  width: 128px;
  height: 128px;
}


.titlerow {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}



.topcolumns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
}
.topcolumns > div {

}

.horlayout {
  display: flex;
  flex-direction: row;
}
.horlayout > div {
  margin: 8px;
}

.tagsbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
//gap: 5px;
  margin: 30px;
}
.tagsbar > div {
 // background-color: Blue;
 // color: white;
  margin: 5px;
}



.postlist {
  display: flex;
  flex-direction: column;
  //background-color: green;

}

.postlist > div {

  background-color: #474953;

  margin: 10px; /* space between posts */

  text-align: center;
    border-radius: 4px;
}


.postheadrow {
  display: flex;
  align-items: stretch;
  //background-color: red;
    margin: 1vw;

}

.postheadrow > div {
 // background-color: Blue;
 // color: white;

}



.postheadcolumn {
  display: flex;
  flex-direction: column;
  //background-color: red;
  margin: 1vh;
}

.postheadcolumn > div {
  //background-color: purple;
  margin: 2px;
  text-align: left;
}


.posttitletext {
  //line-height: 20px;
  font-size: 1.2em;
  color: #cccccc;
  cursor: pointer;
}

.postinfotext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.3em;
  
  //line-height: 20px;
  font-size: 1.2em;
  //margin: 20px;
  flex-wrap: wrap;
}


.votecell {
//border-bottom: none;
}

.votedisabled button {
  background-color: #474953;
  border: 1px solid #999999;
  color: #999999;
  padding: 30px 12px; /* Some padding */
  //height: 10vh;
  width: 100%;
  display: block; /* Make the buttons appear below each other */
}

.votelocked button {
background-color: transparent;
 border: none;
  height: 91px;
  width: 58px;
}

.vote button {
  background-color: #7d6cf1;
  border: 1px solid #cccccc;
  color: #cccccc;
  padding: 7px 12px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  //height: 5vh;
  width: 100%;
  font-size: 0.8em;
  display: block; /* Make the buttons appear below each other */
  //border-bottom: none;
}

/*.vote button:not(:last-child) {
  border-bottom: none; // Prevent double borders
}*/

/* Add a background color on hover */
.vote button:hover {
  //background-color: #3e8e41;
    border: 1px solid #white;
  color: white;
}

.followbutton {
  color: #3399FF;
  font-size: 1em;
  background-color: #363636;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 4px;
 // width: 85px;
  //height: 30px;
  padding: 6px;

  cursor: pointer;		
}

.followbutton:hover {
  color: white;
  border-color: white;
}

.unfollowbutton {
  color: #cccccc;
  font-size: 1em;
  background-color: #3e8e41; /* green */
  border: 1px solid;
  border-color: #cccccc;
  border-radius: 4px;
  //width: 85px;
  //height: 30px;
  cursor: pointer;		
}

.unfollowbutton:hover {
  color: white;
  border-color: white;
}

.greenfollow {
  border-color: #aaaaaa;
  color: #aaaaaa;
  background-color: Green;
}

.orangefollow {
  border-color: #aaaaaa;
  color: #aaaaaa;
  background-color: Maroon;
}

.svgToolImage {
   display: block;
    width: 28px;
  height: 28px;
}

.svgToolButton {
   background-color: transparent;
      border-radius: 4px;
  border: 1px solid #999999;
}

.svgToolButton:hover {
  //background-color: #3e8e41;
  border: 1px solid white;
}


.tagToolButton {
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 7px 14px;
  font-size: 0.8em;
  color: #999999;
   border-radius: 4px;
  border: 1px solid #999999;
}
.tagToolButton:hover {
  //background-color: #3e8e41;
  color: white;
  border: 1px solid white;
}


.tagNavAllButton {
  border-style: none;
  color: #cccccc;
  background-color: transparent;
  padding: 7px 14px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}
.tagNavAllButton:hover {
  color: white;
}

/* deprecated. replaced with tagfilter */
/*.tagNavButton {
  border: 1px solid #cccccc;
  color: #cccccc;
  background-color: #3e8e41;
  border-radius: 4px;
  padding: 7px 14px;
  font-size: 1em;
  //cursor: pointer;
}*/

.tagfilter button {
  //background-color: #3e8e41;
  //background-color: transparent;
  border: 1px solid #3e8e41;
  color: #cccccc;
  padding: 7px 14px;
  font-size: 1em;
  float: left; /* Float the buttons side by side */
}
.tagfilter button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tagfilter button:not(:last-child) {
  background-color: transparent;
  border-right: none; /* Prevent double borders */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* Clear floats (clearfix hack) */
.tagfilter:after {
  content: "";
  clear: both;
  display: table;
}
/* Add a background color on hover */
.tagfilter button:hover {
  background-color: green;
}
.filter-on {
    background-color: #3e8e41;
}
.filter-off {
    background-color: transparent;
}


.close-button {
  font-size: 1.2em;
  background-color: transparent;
  color: #3e8e41;
  border: none;
}
.close-button:hover  {
  color: #cccccc;
}



/*.off {
  background-color: transparent;
  border: 1px solid #999999;
  color: #999999;
}
.tagNavButton:hover {
  border: 1px solid white;
  color: white;
}*/


.postThumbButton {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border: 0px;
}
.postThumbImage {
  //height:0;
  //min-height:100%;
  //max-height:90px;
  height: 10vh;
aspect-ratio: 4 / 4;
object-fit: cover;
  //align-items: center; // in case the img is smaller
}



.tablehorlayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    align-items: center;
}
.tablehorlayout > div {
  margin: 8px;
}


.tableverticallayout {
  display: flex;
  flex-direction: column;
    align-items: center;
}
.tableverticallayout > div {
  margin: 8px;
}



#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  //background-color: #474953;
  margin: auto;
  padding: 0;
  border: 1px solid #363636;
  width: 80%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.333s;
  animation-name: animatetop;
  animation-duration: 0.333s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 18px;
  background-color: black;
  color: white;
}

.modal-body { /* dialog content */
  background-color: #474953;
  padding: 2px 16px;
 }

hr {
  border: 1px solid #cccccc;
  margin-top: 30px;
  margin-bottom: 30px;
}







.eventrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.eventrow > div {
  padding: 10px;
  font-size: 1.2em;
}








/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  
}

.taginput {
  border: 1px solid transparent;
  background-color: #474953;
  padding: 5px;
  font-size: 1em;
  width: 250px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 4px;
  cursor: pointer;
  background-color: #666666; /* popup background color */
  border-bottom: 1px solid #d4d4d4;
  font-size: 1em;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: white;
}





.dropbtn {
  background-color: #474953;
  color: #cccccc;
  padding: 1vh;
  font-size: 1em;
  //border: none;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #3a3b43;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*.dropdown-content-static {
  padding: 12px 16px;
  color: black;
}*/

.dropdown-content a {
  color: #cccccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  // border: 1px solid #cccccc;
}

.dropdown-content a:hover
{
  //background-color: #f1f1f1;
  //border: 1px solid #cccccc;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41; /* green */
}




.avatarimg {
  width: 72px;
  height: 72px;
  border-radius: 20%;
}

/*.eventimg {
  width: 96px;
  height: 96px;
  border-radius: 20%;
}*/


/*
//used by table
#myposts {
text-align: center;
  border-collapse: collapse;

}

#myposts td, #myposts th {
  border: 1px solid #666666;
  padding: 12px;
}

#myposts th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #474953;
  color: #dddddd;
}
*/




.loginrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-between;
  background-color: #474953;
  width: 100%;
  //padding-top:16px;
  //padding-bottom:16px;
}
.loginrow > div {
  text-align: center;
  font-size: 1.2em;
}

.emailform input[type=text] {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.emailform input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.emailform .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}
.emailform .btn:hover {
  opacity: 1;
}










.praise {
  height: 100%;
  margin: 0;
  margin: auto 2em;
  text-align: center;
}

.praise img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  margin: 20px auto;
}

.praise p {
	color: #cccccc;
}




